.menuLink{
	margin-right: 10px;
	margin-left: 10px;
}

#version{
	color: red;
}

#botaoHome:hover{
	opacity: 0.7;
}
#botaoLeadership:hover{
	opacity: 0.7;
}
#botaoAbout:hover{
	opacity: 0.7;
}
#botaoBack:hover{
	opacity: 0.7;
}
#botaoRestart:hover{
	opacity: 0.7;
}